<h1>Search for text in Corpus</h1>

<%= form_with url: lines_path, method: :get, local: true do %>
  <div>
    <%= label_tag :q, "Search for word or phrase:" %><br>
    <%= text_field_tag :q, params[:q], size: 40, id: "normal-search" %>
  </div>

  <div>
    <%= label_tag :regex, "Regex Search:" %><br>
    <%= text_field_tag :regex, params[:regex], size: 40, id: "regex-search" %>
  </div>

  <div>
    <p>Search in:</p>
    <%= radio_button_tag :scope, "tlingit", params[:scope] == "tlingit", id: "scope-tlingit" %>
    <%= label_tag :scope_tlingit, "Tlingit" %>

    <%= radio_button_tag :scope, "english", params[:scope] == "english", id: "scope-english" %>
    <%= label_tag :scope_english, "English" %>

    <%= radio_button_tag :scope, "both", params[:scope].blank? || params[:scope] == "both", id: "scope-both" %>
    <%= label_tag :scope_both, "Both" %>
  </div>

  <%= submit_tag "Search" %>
<% end %>

<script>
    const normalInput = document.getElementById("normal-search");
    const regexInput = document.getElementById("regex-search");

    normalInput.addEventListener("input", () => {
        if(normalInput.value.length > 0) {
            regexInput.disabled = true;
        } else {
            regexInput.disabled = false;
        }
    });

    regexInput.addEventListener("input", () => {
        if(regexInput.value.length > 0) {
            normalInput.disabled = true;
        } else {
            normalInput.disabled = false;
        }
    });
</script>

<% if @lines.any? %>
  <h2>Results:</h2>
  <table border="1" cellpadding="5">
    <thead>
    <tr>
      <th>Tlingit Line</th>
      <th>English Line</th>
      <th>Page Number Tlingit</th>
      <th>Page Number English</th>
      <th>Corpus Number</th>
      <th>Corpus Title</th>
      <th>Sentence Link</th>
    </tr>
    </thead>
    <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.line_tlingit %></td>
        <td><%= line.line_english %></td>
        <td><%= line.page_tlingit %></td>
        <td><%= line.page_english %></td>
        <td><%= link_to line.sentence.corpus_entry.number, corpus_entry_path(line.sentence.corpus_entry.number) %></td>
        <td><%= line.sentence.corpus_entry.title %></td>
        <td>
          <%= link_to "View Sentence",
                      sentence_path(
                        line.sentence_id,
                        keyword_text: @query_text.presence,
                        keyword_regex: @query_regex.presence,
                        show_context: true,
                        page_tlingit: line.page_tlingit,
                        page_english: line.page_english,
                        line_number: line.line_number
                      )
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @lines %>

<% elsif params[:q].present? %>
  <p>No results found.</p>
<% end %>