<h1>Search Lines</h1>

<%= form_with url: lines_path, method: :get, local: true do %>
  <%= label_tag :q, "Search for a word or phrase:" %><br>
  <%= text_field_tag :q, params[:q], size: 40 %>
  <%= submit_tag "Search" %>
<% end %>

<% if @lines.any? %>
  <h2>Results:</h2>
  <table border="1" cellpadding="5">
    <thead>
    <tr>
      <th>Tlingit Line</th>
      <th>English Line</th>
      <th>Page Number Tlingit</th>
      <th>Page Number English</th>
      <th>Corpus Number</th>
      <th>Corpus Title</th>
      <th>Sentence Link</th>
    </tr>
    </thead>
    <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.line_tlingit %></td>
        <td><%= line.line_english %></td>
        <td><%= line.page_tlingit %></td>
        <td><%= line.page_english %></td>
        <td><%= link_to line.sentence.corpus_entry.number, corpus_entry_path(line.sentence.corpus_entry.number) %></td>
        <td><%= line.sentence.corpus_entry.title %></td>
        <td>
          <%= link_to "View Sentence",
                      sentence_path(
                        line.sentence_id,
                        keyword: @query,
                        show_context: true,
                        page_tlingit: line.page_tlingit,
                        page_english: line.page_english
                      )
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% elsif params[:q].present? %>
  <p>No results found.</p>
<% end %>